<header>
  <mat-card>
    <button
      mat-button
      outline
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      routerLink="/todos"
    >
      Todo List
    </button>

    <button
      mat-button
      outline
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      routerLink="/profile"
    >
      Profile
    </button>

    <!-- <button
  mat-button
  outline
  status="primary"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  (click)="headerService.toggleSidebar()"
>
  Games
</button> -->

    <button mat-button [matMenuTriggerFor]="menu" class="nav-link">
      Games
    </button>

    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        routerLink="/hangman"
      >
        Hangman
      </button>
      <!-- <button mat-menu-item>Quiz</button> -->
    </mat-menu>

    <div class="d-flex align-items-center theme-switcher">
      <theme-switcher></theme-switcher>
    </div>
  </mat-card>
</header>
