<button
  nbButton
  outline
  status="primary"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  routerLink="/todos"
>
  Todo List
</button>

<button
  nbButton
  outline
  status="primary"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  routerLink="/profile"
>
  Profile
</button>

<!-- <button
  nbButton
  outline
  status="primary"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  (click)="headerService.toggleSidebar()"
>
  Games
</button> -->

<button
  nbButton
  outline
  status="primary"
  routerLinkActive="active"
  [routerLinkActiveOptions]="{ exact: true }"
  class="nav-link"
  outline
  nbButton
  [nbContextMenu]="gamesItems"
  nbContextMenuTag="gamesItems"
>
  Games
</button>

<div class="d-flex align-items-center theme-switcher">
  <theme-switcher></theme-switcher>
</div>
