@import "../../../variable.scss";
@import "../../../utility.scss";

:host {
  ul {
    &.list-todo {
      padding: 0;

      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px $grayColor;
      }
    }
  }

  .list-info {
    margin-bottom: 20px;
    h2 {
      margin: 0;
    }
  }

  .add-todo {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;

    mat-form-field {
      width: 100%;
    }

    .title-input {
      position: relative;
    }
  }

  mat-radio-group {
    display: flex;
    gap: 15px;
  }
}
