<!-- TODO Preuredjivanje liste -->

<nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
  <nb-card-body>
    <div class="list-info" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Todo list - {{ itemsLength }}</h2>

      <!-- TODO 1: slice select option for items -->
      <!-- <div>
        <nb-select placeholder="Item per page" [(selected)]="setPerList">
          <nb-option value="5">5</nb-option>
          <nb-option value="10">10</nb-option>
          <nb-option value="15">15</nb-option>
          <nb-option value="20">20</nb-option>
        </nb-select>
      </div> -->

      <input
        nbInput
        [(ngModel)]="searchText"
        type="text"
        id="search-items"
        placeholder="Search todo"
      />
    </div>

    <ng-container *ngIf="itemsLength === 0; else showItems">
      <p *ngIf="filter == 'all'">Empty Todo. Please add some Todos</p>
      <p *ngIf="filter == 'active'">Empty Active Todo. Please add some Todos</p>
      <p *ngIf="filter == 'completed'">
        Empty completed Todo. Please complete some Todos
      </p>
    </ng-container>

    <ng-template #showItems>
      <ul class="list-todo">
        <!-- TODO 1: Create slice pipe items with search input "slice : 0 : setPerList" -->
        <li
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="fw-normal ptb-20"
          todo-item
          *ngFor="
            let itemsEl of items
              | searchItems : searchText
            let i = index;
            trackBy: trackById
          "
          [items]="itemsEl"
          [index]="i"
          [isEditing]="editingId === itemsEl.id"
          (setEditModeId)="setEditId($event)"
          [@inOutAnimation]
        ></li>
      </ul>
    </ng-template>

    <nb-radio-group fxLayout="row" fxLayoutAlign="center center" [(ngModel)]="filter">
      <nb-radio value="all" (click)="changeFilter(ItemFilters.all)">All</nb-radio>
      <nb-radio value="active" (click)="changeFilter(ItemFilters.active)">Active</nb-radio>
      <nb-radio value="completed" (click)="changeFilter(ItemFilters.completed)">Completed</nb-radio>
    </nb-radio-group>

    <div class="add-todo">
      <div class="title-input">
        <span
          class="length-input"
          [ngClass]="{ errorLength: title.length > 20 }"
          >{{ title | length : 20 }}</span
        >
        <input
          type="text"
          nbInput
          fullWidth
          class="add"
          [ngClass]="{
            'invalid-input': title.length < 3,
            'empty-input': title === '',
            'valid-input': title.length >= 3
          }"
          id="title"
          placeholder="Title Todo"
          [value]="title"
          (keyup)="cahngeText($event)"
          [(ngModel)]="title"
        />
      </div>

      <textarea
        type="text"
        nbInput
        fullWidth
        class="add"
        style="height: 100px"
        [ngClass]="{
          'invalid-input': description.length < 3,
          'empty-input': description === '',
          'valid-input': description.length >= 3
        }"
        id="description"
        placeholder="Description Todo"
        [value]="description"
        [(ngModel)]="description"
      ></textarea>

      <button
        (click)="onAddItem()"
        nbButton
        status="success"
        [disabled]="title | disableBtn"
      >
        Add
      </button>
    </div>
  </nb-card-body>
</nb-card>
