@import "../../variable.scss";
@import "../../utility.scss";

:host {
  .item {
    font-size: 16px;

    .list-item-tile,
    .edit {
      margin-left: 10px;
      text-transform: capitalize;
      text-decoration: none;
      cursor: pointer;

      &.done-check {
        text-decoration: line-through;
      }
    }

    button.btn {
      &:nth-child(2) {
        margin: 0 5px;
      }
    }

    .status-table {
      input {
        margin-right: 5px;
      }
    }

    a {
      &.edit-button {
        color: $blueEdit;
      }

      &.delete-button {
        color: $redError;
        margin: 0 5px;
      }

      &.view-button {
        color: $grayColor;
      }

      fa-icon {
        font-size: 19px;
      }
    }
  }
}
