<div [ngClass]="{ editing: isEditingProps }" class="item">
  <a
    *ngIf="!isEditingProps"
    [ngClass]="{ 'done-check': items.done, 'notDone-check': !items.done }"
    (dblclick)="onEditMode()"
  >
    {{ items.title }}
  </a>

  <ng-container *ngIf="isEditingProps">
    <input
      class="edit"
      type="text"
      nbInput
      #titleInput
      [value]="items.title"
      (keyup)="updateItem($event)"
      (keyup.enter)="onUpdateItem()"
    />
  </ng-container>
</div>

<div class="options-item item" fxLayout="row" fxLayoutAlign="center center">
  <div class="">
    <div class="status-table">
      <nb-checkbox
        (change)="changeStatus()"
        [checked]="items.done"
        [status]="items.done ? 'success' : 'primary'"
        [ngClass]="items.done ? 'done' : 'not-done'"
      >
        <span
          class="badge text-bg-primary"
          [ngClass]="items.done ? 'done' : 'not-done'"
          >{{ items.done ? "Done" : "Not Done" }}</span
        >
      </nb-checkbox>
    </div>
  </div>

  <div class="ml-15">
    <a class="edit-button" (click)="onEditMode()">
      <!-- If NOT edit mode activate ** Edit ** -->
      <fa-icon *ngIf="!isEditingProps" [icon]="faEdit"></fa-icon>
      <fa-icon *ngIf="isEditingProps" [icon]="faClose"></fa-icon>
    </a>

    <a class="delete-button" (click)="onDelete()">
      <fa-icon [icon]="faTrash"></fa-icon>
    </a>

    <a class="view-button" (click)="onView()">
      <fa-icon [icon]="faView"></fa-icon>
    </a>
  </div>
</div>
