@use '../../themes' as *;
@import "../../variable.scss";
@import "../../utility.scss";

:host {
  .item {
    font-size: 16px;
    a {
      text-decoration: none;
      text-transform: capitalize;
      cursor: pointer;
      color: nb-theme(href-color);
      &.done-check {
        text-decoration: line-through;
      }

      &:hover {
        color: nb-theme(href-color-hover);
      }
    }
    button.btn {
      &:nth-child(2) {
        margin: 0 5px;
      }
    }
    .status-table {
      input {
        margin-right: 5px;
      }
    }

    a {
      &.edit-button {
        color: $blueEdit;
      }
      &.delete-button {
        color: $redError;
        margin: 0 5px;
      }
      &.view-button {
        color: $grayColor;
      }
      fa-icon {
        font-size: 19px;
      }
    }
  }
}
