<nb-layout>
  <nb-layout-header
    fixed
    *ngIf="router.url !== '/login' && router.url !== '/sign-up'"
  >
    <app-header xLayout="row" fxLayoutAlign="start center"></app-header>
  </nb-layout-header>

  <nb-sidebar state="collapsed" tag="left">
    <button
      nbButton
      shape="semi-round"
      status="info"
      outline
      status="primary"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      class="nav-link"
      routerLink="/hangman"
    >
      Hangman
    </button>
  </nb-sidebar>

  <nb-layout-column>
    <section class="main darkMode">
      <div [@routeAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </section>
  </nb-layout-column>

  <nb-layout-footer
    fixed
    *ngIf="router.url !== '/login' && router.url !== '/sign-up'"
  >
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
