<nb-layout>
  <nb-layout-header
    fixed
    *ngIf="router.url !== '/login' && router.url !== '/sign-up'"
  >
    <header xLayout="row" fxLayoutAlign="start center"></header>
  </nb-layout-header>

  <nb-layout-column>
    <section class="main darkMode">
      <div [@routeAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </section>
  </nb-layout-column>

  <nb-layout-footer
    fixed
    *ngIf="router.url !== '/login' && router.url !== '/sign-up'"
  >
    <!-- Insert footer here -->
  </nb-layout-footer>
</nb-layout>
