<div fxLayout="row" fxLayoutAlign="center center" class="question">
  <p>{{displayWord}}</p>
</div>



<div class="letters" fxLayout="row wrap" fxLayoutAlign="center center">
  <ng-container *ngFor="let l of letter">
    <button
      nbButton
      hero
      status="primary"
      [disabled]="clickedLetters.includes(l)"
      (click)="chooseLetter(l)"
    >
      {{ l }}
    </button>
  </ng-container>
</div>

<div class="misses-letters">
  <h3>Misses Letters</h3>
  <ul fxLayout="row" fxLayoutAlign="center center">
    <li *ngFor="let ml of clickedLetters">
      <p >
        {{ ml }}
      </p>
    </li>
  </ul>
</div>

{{ numberOfmisses }}
{{ success }}

