<ng-container *ngIf="authService.userData as user">
  <section>
    <h1>User Profile</h1>

    <nb-card class="box-shadow">
      <nb-card-body class="profile-info">
        <img
          [src]="
            user?.photoURL === undefined || null || '' ? defaultImg : user?.photoURL
          "
          alt="avatar"
          class="rounded-img"
          style="width: 150px"
        />
        <h2 class="mb-0">
          {{ user?.displayName || emailName | emptyText }}
        </h2>
        <p class="mb-0">
          {{ user?.role | emptyText }}
        </p>
        <p class="mb-0">
          {{ user?.location | emptyText }}
        </p>
      </nb-card-body>
    </nb-card>

    <form [formGroup]="profileForm" (ngSubmit)="onUpdate()">
      <nb-card class="box-shadow">
        <nb-card-body>
          <div>
            <h3>Full Name</h3>
            <div>
              <ng-container *ngIf="editMode">
                <input
                  nbInput
                  class="edit"
                  type="text"
                  formControlName="displayName"
                />
              </ng-container>

              <p *ngIf="!editMode">
                {{ user?.displayName || emailName | emptyText }}
              </p>
            </div>
          </div>
          <hr />

          <div>
            <h3>Role</h3>

            <div>
              <ng-container *ngIf="editMode">
                <input
                  nbInput
                  class="edit"
                  type="text"
                  formControlName="role"
                />
              </ng-container>

              <p *ngIf="!editMode">
                {{ user?.role | emptyText }}
              </p>
            </div>
          </div>
          <hr />

          <div>
            <h3>Location</h3>

            <div>
              <ng-container *ngIf="editMode">
                <input
                  nbInput
                  class="edit"
                  type="text"
                  formControlName="location"
                />
              </ng-container>

              <p *ngIf="!editMode">
                {{ user?.location | emptyText }}
              </p>
            </div>
          </div>
          <hr />

          <div>
            <h3>Email</h3>

            <div>
              <p>{{ user?.email | emptyText }}</p>
            </div>
          </div>
          <hr />

          <div>
            <h3>ID</h3>

            <div>
              <p>{{ user.uid }}</p>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

      <div
        class="controls-btn"
        fxLayout=""
        fxLayoutAlign="space-between center"
      >
        <div class="edit-save-buttons">
          <button
            *ngIf="!editMode"
            nbButton
            status="primary"
            type="button"
            (click)="onEditMode()"
          >
            Edit
          </button>

          <button *ngIf="editMode" nbButton status="success" type="submit">
            Save
          </button>

          <button
            *ngIf="editMode"
            nbButton
            status="danger"
            type="button"
            (click)="cancelEdit()"
            style="margin-left: 10px"
          >
            Cancel
          </button>
        </div>

        <div class="logout-button">
          <button
            type="button"
            nbButton
            status="danger"
            (click)="authService.signOut()"
          >
            Logout
          </button>
        </div>
      </div>
    </form>
  </section>
</ng-container>
