@forward "assets/components/spinner";
@import "theming";

html,
body {
  height: 100%;
}

body {
  margin: 15px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

section.content {
  max-width: 100%;
  width: 900px;
  margin: 0 auto;
}