@forward "@nebular/theme/styles/theming";
@use "@nebular/theme/styles/theming" as *;
@use "@nebular/theme/styles/themes/default";
@use "@nebular/theme/styles/themes/dark";
@import "variable.scss";


$nb-themes: nb-register-theme(
  (
    // Global Custom
    href-color: $darkLight,
    href-color-hover: $blueEdit,
    text-basic-color: $grayColor,
    input-color-edit: $darkLight,

    capitalize-text-button: capitalize,
    input-medium-text-font-weight: 400,
    checkbox-success-checked-background-color: $greenDone,
    checkbox-success-checked-border-color: $greenDone,
    checkbox-success-hover-checked-background-color: $greenDone,
    checkbox-success-hover-checked-border-color: $greenDone,
    checkbox-primary-checked-background-color: $blueEdit,
    checkbox-primary-checked-border-color: $blueEdit,
  ),
  default,
  default
);

$nb-themes: nb-register-theme(
  (
    // Global Custom
    href-color: $bgColor,
    href-color-hover: $blueEdit,
    text-basic-color: $bgColor,
    input-color-edit: $bgColor,

    text-disabled-color: color-basic-600
  ),
  dark,
  dark
);
