@use "@nebular/theme/styles/theming" as *;
@import "variable.scss";

p,
h2 {
  color: nb-theme(text-basic-color);
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mtb-20 {
  margin: 20px 0;
}

.ptb-20 {
  padding: 20px;
}

.main {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
}


input,
textarea {
  &.edit {
    border: 1px solid #21252936;
    border-radius: 5px;
    padding-left: 10px;
    width: auto;
    color: nb-theme(input-color-edit);
    &:focus-visible {
      outline: none;
    }
  }
}

.box-shadow {
  box-shadow: -1px 1px 5px 0px rgba(128 128 128 / 0.3);
  border-radius: 0.3rem;
}

nb-checkbox {
  .badge {
    vertical-align: middle;
    cursor: pointer;
    &.done {
      background-color: $greenDone !important;
    }
  }
}
button {
  &.nav-link {
    text-transform: capitalize;
    &.active {
      background-color: $blueEdit;
      color: $white;
    }
  }
}
