@import "variable.scss";

p,
h2 {
  color: nb-theme(text-basic-color);
}

h3 {
  color: $darkLight;
  margin: 5px 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-15 {
  margin-left: 15px;
}

.mtb-20 {
  margin: 20px 0;
}

.ptb-20 {
  padding: 20px;
}

.rounded-img {
  border-radius: 50%;
}

.main {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
}

input,
textarea {
  &.edit {
    border: 1px solid #21252936;
    border-radius: 5px;
    padding-left: 10px;
    width: auto;
    color: nb-theme(input-color-edit);
    &:focus-visible {
      outline: none;
    }
  }
}

.box-shadow {
  box-shadow: -1px 1px 5px 0px rgba(128 128 128 / 0.3);
  border-radius: 0.3rem;
}

.badge {
  vertical-align: middle;
  color: $white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  &.done {
    background-color: $greenDone;
  }
  &.not-done {
    background-color: $blueEdit;
  }
}

button {
  &.nav-link {
    text-transform: capitalize;
    &.active {
      background-color: $blueEdit;
      color: $white;
    }
  }
  &.back-button {
    padding: 5px !important;
  }
}
