<button class="back-button" mat-button status="info" (click)="back()">
  <mat-icon icon="arrow-back-outline"></mat-icon>
</button>
<h1>Item details</h1>

<div class="container py-5" *ngIf="items$ | async as item; else loader">
  <form [formGroup]="itemForm" (ngSubmit)="onUpdate()">
    <mat-card class="box-shadow">
      <mat-card-content>
        <div>
          <h3 class="">Item Name</h3>

          <div>
            <ng-container *ngIf="editMode">
              <input
                class="edit"
                type="text"
                matInput
                [formControl]="itemForm.controls.title"
              />
            </ng-container>

            <p *ngIf="!editMode" class="text-muted">
              {{ item.title }}
            </p>
          </div>
        </div>

        <hr />

        <div>
          <h3 class="">Description</h3>
          <div>
            <ng-container *ngIf="editMode">
              <textarea
                class="edit"
                type="text"
                matInput
                formControlName="description"
                rows="4"
                cols="50"
              ></textarea>
            </ng-container>

            <p *ngIf="!editMode" class="text-muted">
              {{ item.description }}
            </p>
          </div>
        </div>
        <hr />

        <div class="row">
          <h3 class="">Status</h3>

          <div>
            <ng-container *ngIf="editMode">
              <mat-checkbox
                (change)="toggleChecked($event)"
                [checked]="item.done ? 'success' : 'primary'"
                [ngClass]="item.done ? 'done' : 'not-done'"
                formControlName="done"
              >
                <span
                  class="badge text-bg-primary"
                  [ngClass]="checked ? 'done' : 'not-done'"
                  >{{ checked ? "Done" : "Not Done" }}</span
                >
              </mat-checkbox>
            </ng-container>

            <p
              *ngIf="!editMode"
              class="badge text-bg-primary"
              [ngClass]="item.done ? 'done' : 'not-done'"
            >
              {{ !item.done ? "Not done" : "Done" }}
            </p>
          </div>
        </div>
        <hr />

        <div>
          <h3 class="">Date</h3>
          <div>
            <p class="text-muted">
              {{ item.date | date: "short" }}
            </p>
          </div>
        </div>
        <hr />

        <div>
          <h3 class="">ID</h3>
          <div>
            <p class="text-muted">{{ item.id }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div class="controls-btn d-flex align-items-center justify-content-between">
      <div
        class="edit-save-buttons"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <button
          *ngIf="!editMode"
          status="primary"
          type="button"
          (click)="onEditMode()"
          mat-button
        >
          Edit
        </button>

        <button
          *ngIf="editMode"
          [disabled]="itemForm.invalid"
          mat-button
          status="success"
          type="submit"
        >
          Save
        </button>

        <button
          *ngIf="editMode"
          mat-button
          status="danger"
          type="button"
          (click)="cancelEdit()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
<ng-template #loader>
  <mat-spinner *ngIf="loading"></mat-spinner>
</ng-template>
