@use '../../../themes' as *;
@import "../../../variable.scss";
@import "../../../utility.scss";

:host {
    h1 {
        margin: 10px 0;
    }
    button {
        text-transform: nb-theme(capitalize-text-button);
    }

    nb-icon {
        cursor: pointer;
    }

    .edit-save-buttons {
        width: 100%;
    }
}
